label {
    padding: 0px 5px;
}

.table {
    display: table;
    table-layout: fixed;
}

.table_row {
    display: table-row;
}

.table_cell {
    display: table-cell;
    vertical-align: top;
    padding: 0px 10px;
}

.table_cell_mid {
    display: table-cell;
    vertical-align: middle;
}

.button {
    background: white;
    border-radius: 10px;
    border: 2px solid #1996e9;
    color: #1996e9;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

div.center {
    height: auto;
    margin: 0 auto;
    align: center;
}

div.right {
    display: inline-block;
    margin-right: 0px;
}

form {
    margin: 0 auto;
}

body {
    font-family: "Nimbus Sans", "Lucida Sans Unicode", Helvetica,
        "Lucida Grande", sans-serif;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

p.block {
    text-align: left;
    max-width: 450px;
}

.input {
    padding-left: 35px;
    padding-right: 15px;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

div.horizontalgap {
    float: left;
    overflow: hidden;
    height: 1px;
    width: 0px;
}

label.upLabel input[type="file"] {
    position: absolute;
    top: -1000px;
    background: green;
}
.upLabel {
    border: 1px solid #aaa;
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
}
.upLabel:hover {
    background: #ccc;
}
.upLabel:active {
    background: #ccf;
}
.upLabel:invalid + span {
    color: #4a4;
}
.upLabel:valid + span {
    color: #4a4;
}

/* navigation styles */
nav {
    background: #061348;
    background: linear-gradient(
        to bottom,
        rgba(6, 19, 72, 1) 0%,
        rgba(15, 31, 91, 1) 100%
    );
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav li {
    display: inline;
    margin: 0px;
}

nav ul.nav {
    width: 1120px;
    margin: 0 auto;
    min-width: 120px;
}

.nav a {
    display: inline-block;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(233, 217, 72);
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin: 0px;
    border-top: none;
}

a.nav_home {
    max-width: 50px;
    width: 50px !important;
}

.nav a:hover {
    background-color: #344da7;
    height: 100%;
}
