.input {
    padding-left: 35px;
    padding-right: 15px;
}

.filter-block {
    background-color: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

label.upLabel input[type="file"] {
    position: absolute;
    top: -1000px;
    background: green;
}
.upLabel {
    border: 1px solid #AAA;
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
}
.upLabel:hover {
    background: #CCC;
}
.upLabel:active {
    background: #CCF;
}
.upLabel:invalid+span {
    color: #4A4;
}
.upLabel:valid+span {
    color: #4A4;
}
