/target
qualinvest_core/target
qualinvest_cli/target
qualinvest_server/target
wasm_graph/target

**/*.rs.bk
Cargo.lock
.vscode
qualinvest.json
qualinvest.toml
/test_data

/dist_package
qualinvest.tar.gz

/static
/templates

# local development and testing
/local
/pdfs
**/*.pdf
total_performance.json

# wasm
package-lock.json
wasm_graph/sample.bmp
wasm_graph/tests
