{% extends "transaction_form" %}
{% block pagetitle %}{{super()}} - Edit Transaction{% endblock pagetitle %}
{% block content %}
<div class="row">
	<div class="col-md-offset-1 col-md 10">
		<h2>Edit Transaction</h2>
	</div>
</div>
{{super()}}
{% endblock content %}
