{% extends "layout" %}
{% block jsdata %}{{super()}}
{% endblock jsdata %}
{% block content %}
<div class="center">
	<h2>Transactions upload report</h2>
{% for msg in upload_results %}
	<p>
		{{msg.message}}: original file: '{{msg.file_name}}'
	</p>
{% endfor %}
</div>	

{% endblock content %}
